@media (max-width: 768px) {
  .cart-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: auto;
      overflow-border-radius: 8px;
      overflow-padding: 5px 0 15px 20px;
      overflow-border: 2px solid #ddd;
      overflow-margin: 0 0 20px 0; } }

.cart-user__flex-conteiner {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (orientation: portrait) and (max-width: 768px) {
    .cart-user__flex-conteiner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.cart-user__foto-users {
  width: 30%; }
  @media (max-width: 768px) {
    .cart-user__foto-users {
      margin: 0 auto;
      width: 100%; } }

.cart-user__foto-users img {
  max-width: 100%; }

.cart-user__header__fullName-users {
  text-align: left;
  font-size: 1.8em; }

.cart-user__header__fullName-users p i {
  font-size: 0.7em; }

a.delete {
  padding-right: 10px;
  color: #bf0d0d;
  text-decoration: none; }
  a.delete i {
    color: #bf0d0d;
    font-size: 1.5em; }

.modal-dialog {
  font-size: 1.2em; }
  .modal-dialog a {
    color: #fff; }

.social_b > tbody > tr > td {
  padding: 0 5px; }
