.login-page {
  -webkit-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
  height: 100vh;
  width: 100%;
  background: url("/img/coast_min.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #fff; }
  .login-page .nav-tabs > li.active > a, .login-page .nav-tabs > li.active > a:focus, .login-page .nav-tabs > li.active > a:hover, .login-page .nav > li > a:focus, .login-page .nav > li > a:hover, .login-page .nav-tabs > li > a {
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #fff;
    background-color: transparent;
    border: none;
    margin-right: 0; }
  .login-page .nav > li > a:hover, .login-page .nav-tabs > li.active > a:focus, .login-page .nav-tabs > li.active > a:focus, .login-page .nav-tabs > li.active > a:hover {
    text-shadow: -25px -8px 5px #dff0d887, 0 0 3px #fff;
    -webkit-transform: translate(3px, 3px);
        -ms-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
    border: none; }
  .login-page .nav-tabs > li.active > a {
    text-shadow: 0 0 3px #fff;
    border: none; }
  .login-page .wrapp-absolute {
    position: absolute;
    z-index: 999999; }
  .login-page .form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #000;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .login-page .form input[name=email] {
    width: 50%; }
  .login-page .form input[type=password] {
    width: 80%; }
  .login-page .form input[name=email]:hover {
    width: 70%; }
  .login-page .form input[type=password]:hover {
    width: 100%; }
  .login-page .form input:focus {
    border-color: #000;
    border-bottom: 1px solid #000;
    outline-offset: none;
    outline: none; }
  .login-page .form input:active {
    border-color: #000;
    outline-offset: none;
    border-bottom: 1px solid 	#000; }
  .login-page .form input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .login-page .form input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .login-page .form input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .login-page .form input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .login-page .form input::placeholder {
    color: rgba(255, 255, 255, 0.5); }
  .login-page .form input::-webkit-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input::-moz-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input:-ms-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input::-ms-input-placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input::placeholder {
    text-indent: 0px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input:focus::-webkit-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input:focus::-moz-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input:focus:-ms-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input:focus::-ms-input-placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form input:focus::placeholder {
    text-indent: 500px;
    -webkit-transition: text-indent 0.3s ease;
    -o-transition: text-indent 0.3s ease;
    transition: text-indent 0.3s ease; }
  .login-page .form a {
    height: 20px;
    line-height: 5px;
    width: 45%; }
