a {
  color: #000; }

a:link {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

.text-black {
  color: #000; }

.float-right {
  float: right; }

.text-align-right {
  text-align: right; }

.no-margin {
  margin: 0 0 0 0; }

.max-w50px {
  max-width: 30px; }

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.width-100 {
  width: 100%; }

.flex-center-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.visibility_hidden {
  visibility: hidden; }

body {
  position: relative;
  min-height: 100vh; }

.navbar-default {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none; }
  @media (max-width: 768px) {
    .navbar-default .nav {
      padding-left: 25px; } }

.navbar-collapse, .container-fluid {
  padding-left: 0; }

.panel .panel-collapse {
  overflow: auto; }

.myNav li {
  overflow: hidden;
  z-index: 2;
  background: #fff;
  width: 13em;
  text-align: center;
  border-bottom: 3px solid #999; }
  .myNav li a {
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 1.7em; }

.myNav li:nth-child(3) {
  border-right: 1px solid #999;
  -webkit-border-radius: 0 0 50px 0;
          border-radius: 0 0 50px 0;
  -webkit-box-shadow: 4px -1px 3px #999;
          box-shadow: 4px -1px 3px #999; }

@media (max-width: 768px) {
  .myNav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 768px) {
  .myNav li:nth-child(2), .myNav li:nth-child(1) {
    border-right: 1px solid #999;
    -webkit-border-radius: 0 0 50px 0;
            border-radius: 0 0 50px 0;
    -webkit-box-shadow: 4px -1px 3px #999;
            box-shadow: 4px -1px 3px #999; } }

.container-fluid .navbar-default .collapse .navbar-nav .subbuttons {
  position: relative;
  left: -15px;
  width: auto;
  z-index: 1; }
  .container-fluid .navbar-default .collapse .navbar-nav .subbuttons a {
    padding: 3px 15px 3px 20px;
    font-size: 1em; }

.container-fluid .navbar-default .collapse .navbar-nav .subbuttons:last-child {
  border-right: 1px solid #999;
  -webkit-border-radius: 0 0 50px 0;
          border-radius: 0 0 50px 0; }

.addBlack, .black {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  background: #000; }

.col-wrap-calendar {
  overflow-y: auto; }

@media print {
  .black {
    background: #000 !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact; }
  * {
    display: block; }
  .no-print {
    display: none !important; }
  table {
    display: table; }
  tr {
    display: table-row; }
  td {
    display: table-cell; }
  .black {
    background-color: #000; } }

.lostMoney {
  color: #F00; }

.addMoney {
  color: #090; }

.cbalink {
  display: none; }

.fixed {
  position: fixed;
  z-index: 99999999999;
  right: 1%;
  bottom: 2%; }

.nav-tabs {
  border-color: transparent; }

.nav-tabs > li > a:hover {
  border-color: transparent; }

.form-style input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #000;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-style: italic; }

.form-style input:focus {
  border-color: #000;
  border-bottom: 1px solid #000;
  outline-offset: none;
  outline: none; }

.form-style input:active {
  border-color: #000;
  outline-offset: none;
  border-bottom: 1px solid 	#000; }

.form-style input::-webkit-input-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::-moz-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input:-ms-input-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::-ms-input-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input::-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input::placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.nav > li > a {
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

#hellow-user {
  padding-left: 1em; }

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

@media (max-width: 768px) {
  .mobile-flex-collumn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }
