a {
  color: #000; }

a:link {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

.text-black {
  color: #000; }

body {
  height: 150vh; }

.navbar-default {
  background-image: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border: none; }
  @media (max-width: 768px) {
    .navbar-default .nav {
      padding-left: 25px; } }

.navbar-collapse, .container-fluid {
  padding-left: 0; }

.panel .panel-collapse {
  overflow: auto; }

.myNav li {
  overflow: hidden;
  z-index: 2;
  background: #fff;
  width: 13em;
  text-align: center;
  border-bottom: 3px solid #999; }
  .myNav li a {
    padding-top: 10px;
    padding-bottom: 7px;
    font-size: 1.7em; }

.myNav li:nth-child(3) {
  border-right: 1px solid #999;
  -webkit-border-radius: 0 0 50px 0;
          border-radius: 0 0 50px 0;
  -webkit-box-shadow: 4px -1px 3px #999;
          box-shadow: 4px -1px 3px #999; }

.container-fluid .navbar-default .collapse .navbar-nav .subbuttons {
  position: relative;
  left: -15px;
  width: auto;
  z-index: 1; }
  .container-fluid .navbar-default .collapse .navbar-nav .subbuttons a {
    padding: 3px 5px 3px 20px;
    font-size: 1em; }

.container-fluid .navbar-default .collapse .navbar-nav .subbuttons:last-child {
  border-right: 1px solid #999;
  -webkit-border-radius: 0 0 50px 0;
          border-radius: 0 0 50px 0; }

.addBlack, .black {
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  background: #000; }

.dayGrid {
  cursor: not-allowed; }

.row1 .dayGrid {
  cursor: cell; }

.col-wrap-calendar {
  overflow-y: auto; }

@media print {
  .black {
    background: #000;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact; }
  .no-print {
    display: none; } }

.lostMoney {
  color: #F00; }

.addMoney {
  color: #090; }

.cbalink {
  display: none; }

.fixed {
  position: fixed;
  z-index: 99999999999;
  right: 1%;
  bottom: 2%; }

.nav-tabs {
  border-color: transparent; }

.nav-tabs > li > a:hover {
  border-color: transparent; }

.form-style input {
  border: none;
  background: transparent;
  border-bottom: 1px solid #000;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-style: italic; }

.form-style input:focus {
  border-color: #000;
  border-bottom: 1px solid #000;
  outline-offset: none;
  outline: none; }

.form-style input:active {
  border-color: #000;
  outline-offset: none;
  border-bottom: 1px solid 	#000; }

.form-style input::-webkit-input-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::-moz-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input:-ms-input-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::-ms-input-placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::placeholder {
  color: 0, 0, 0 0.5; }

.form-style input::-webkit-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input::-moz-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input::-ms-input-placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input::placeholder {
  text-indent: 0px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::-webkit-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::-moz-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus:-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::-ms-input-placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }

.form-style input:focus::placeholder {
  text-indent: 500px;
  -webkit-transition: text-indent 0.3s ease;
  -o-transition: text-indent 0.3s ease;
  transition: text-indent 0.3s ease; }
