.cart-user
    border-radius: 	8px
    padding: 		5px 0 5px 20px
    border: 		2px solid #ddd
    margin: 		0 0 20px 0

.cart-user__flex-conteiner
	justify-content: 	space-between
	display: 			flex
    

.cart-user__foto-users
	width: 		30%

.cart-user__foto-users img 
	max-width: 	100%

.cart-user__header__fullName-users
	text-align: left
	font-size: 	1.8em

	a.delete
		padding-right: 10px

		i
			color: #bf0d0d

.cart-user__header__fullName-users p i 
	font-size: 	0.7em