$blue			: #050C42
$lightBlue		: #0284A8
$aqva			: #02BEC4
$lightGrey		: #A9E8DC
$white			: #E1F7E7

$Main-color-blue		: $blue
$Matn-color-lightBlue	: $lightBlue
$Main-color-aqva		: $aqva
$Main-color-lightGrey	: $lightGrey
$Main-color-white		: $white

$mq-mobile-portrait		: 320px !default
$mq-mobile-landscape	: 480px !default
$mq-tablet-portrait		: 768px !default
$mq-tablet-landscape	: 1024px !default
$mq-desktop				: 1382px !default


    

a
	color: #000	
a:link
	color: #000
a:visited
	color: #000
a:hover
	color: #000

.text-black
	color: #000

.float-right
	float: right

.text-align-right
	text-align: right

.no-margin
	margin: 0 0 0 0

.max-w50px
	max-width: 30px

.flex-center
	display: flex
	justify-content: center

.width-100
	width: 100%

.flex-center-column
	display: flex
	justify-content: center
	flex-direction: column

body
	min-height: 100vh

.navbar-default
	background-image: none
	box-shadow: none
	background-color: transparent
	border: none

	.nav 
		@media (max-width: $mq-tablet-portrait)
			padding-left: 25px
			
.navbar-collapse , .container-fluid
	padding: 
		left:  0
.panel .panel-collapse
	overflow: auto
.myNav
	li
		overflow: hidden
		z-index: 2
		background: #fff
		width: 13em
		text-align: center
		border:
			bottom:  3px solid #999	
			
		a 
			padding: 
				top: 10px
				bottom: 7px

			font-size: 1.7em

	li:nth-child(3)
		border:
			right: 1px solid #999

		border-radius: 0 0 50px 0

		box-shadow: 4px -1px 3px #999;

.container-fluid .navbar-default .collapse .navbar-nav .subbuttons 
	position: relative
	left: -15px
	width: auto
	z-index: 1

	a
		padding: 3px 5px 3px 20px;

		font-size: 1em
	

.container-fluid .navbar-default .collapse .navbar-nav .subbuttons:last-child
	border:
		right: 1px solid #999

	border-radius: 0 0 50px 0	

.addBlack, .black	
	transition: all
	animation-duration: 1000ms
	background: #000

.col-wrap-calendar
	overflow-y: auto

@media print 

	.black
		background: #000 !important
		-webkit-print-color-adjust: exact
		print-color-adjust: exact
	*
		display: block
	.no-print
		display: none !important
	table
		display: table
	tr
		display: table-row
	td
		display: table-cell
	.black
		background-color: #000
.lostMoney		
	color: #F00

.addMoney
	color: #090
.cbalink
	display: none

.fixed
	position: fixed
	z-index: 99999999999
	right: 1%
	bottom: 2%

.nav-tabs
	border-color: transparent

.nav-tabs>li>a:hover
	border-color: transparent

.form-style
		input
			border: none
			background: transparent
			border-bottom: 1px solid #000
			text-align: center
			transition: all 0.3s ease-out
			font-style: italic

		input:focus
			border-color  : #000
			border-bottom : 1px solid #000
			outline-offset: none
			outline 	  : none
			
		input:active
			border-color 	: 	#000
			outline-offset 	: 	none
			border-bottom 	: 1px solid 	#000
		
		input::placeholder
			color: (0,0,0 0.5)

		input::placeholder
			text-indent: 0px   
			transition: text-indent 0.3s ease

		input:focus::placeholder
			text-indent: 500px   
			transition: text-indent 0.3s ease

.nav>li>a
	transition: all 0.3s ease-out